# Ignora ficheiros de config
data/config.ini
.env
.coverage
htmlcov/

# Ignora o ambiente virtual
.venv/

# Ignora ficheiros temporários
__pycache__/
*.pyc
*.pyo

# Ignora ficheiros pessoais
*.log
*.sqlite
.DS_Store
optitravel_client.py
setup.sql